<% content_for :body_id, "campaign-setup" %>

<!-- Page -->
<section id="page">
   	<div class="container">
        <div class="row">

               <form action="#">

                   <!-- Campaign ID -->
                   <div class="span12">
                       <h2 id="campaign-id">Campaign ID: <span>08770778786</span></h2>
                   </div>

                   <!-- Steps -->
                   <div class="span12" id="form-steps">
                       <div class="box">
                           <h1>Untitled Draft Project</h1>
                           <ul>
                               <li class="s1"><a href="start.html"><span>1</span>Start</a></li>
                               <li class="s2"><a href="design.html"><span>2</span>Design</a></li>
                               <li class="s3"><a href="ignite.html"><span>3</span>Ignite</a></li>
                               <li class="s4"><a href="get_sponsored.html"><span>4</span>Get Sponsored</a></li>
                               <li class="s5 active"><a href="get-funded.html"><span>5</span>Get Funded</a></li>
                           </ul>
	                    <h3>Get Funded!</h3>
	                    <p>The Last step is to set up the parts of your campaign that determine how you collect your funds. once you are satisfied with your campaign, you can start raising funds, so let’s get going!</p>
                    </div>
                </div>

                   <!-- page #get-funded (step 5) -->
                   <div class="span12" id="get-funded">

                       <!-- Box -->
                       <div class="box-container profile-edit">
                           <div class="box">
                               <div class="box-half">
                                   <fieldset>
                                       <label for="name"><strong>Campaign Name</strong></label>
                                       <input type="text" origname="facebook" name="useritem[useritem][facebook]" class="size-large">
                                   </fieldset>
                               </div>
                               <div class="box-half">
                                   <fieldset>
                                       <label for="name"><strong>Campaign ID</strong></label>
                                       <input type="text" origname="twitter" name="useritem[useritem][twitter]" class="size-large">
                                   </fieldset>
                               </div>
                           </div>
                       </div>

                       <!-- Box -->
                       <div class="box-container profile-edit">
                           <h2>Student Co-Founder Information</h2>
                           <div class="box">
                               <fieldset>
                                   <label for="name"><strong>Bank Account</strong></label>
                                   <input type="text" origname="facebook" name="useritem[useritem][facebook]" class="size-large">
                               </fieldset>
                               <fieldset>
                                   <label for="name"><strong>Name</strong></label>
                                   <input type="text" origname="facebook" name="useritem[useritem][facebook]" class="size-large">
                               </fieldset>
                               <fieldset>
                                   <label for="name"><strong>Username</strong></label>
                                   <input type="text" origname="facebook" name="useritem[useritem][facebook]" class="size-large">
                               </fieldset>
                               <fieldset>
                                   <label for="name"><strong>E-mail</strong></label>
                                   <input type="text" origname="facebook" name="useritem[useritem][facebook]" class="size-large">
                               </fieldset>
                           </div>
                       </div>


                       <!-- Box: #cause-owner-information -->
                       <div class="box-container static-text" id="cause-owner-information">
                           <h2>Cause Owner Information</h2>
                           <div class="box">
                               <div class="box-half">
                                   <p><a class="btn-green">Activated</a></p>
                                   <div class="clearfix"></div>
                                   <p><strong><big>60%</big> going to Student Co-Founder</strong></p>
                               </div>
                               <div class="box-half">
                                   <a class="btn-red pull-right">Avaiting Cause Owner Activation</a>
                               </div>
                           </div>
                       </div><!-- #cause-owner-information -->


                       <!-- Box: #design-information -->
                       <div class="box-container static-text" id="design-information">
                           <br>
                           <h2>Design Information</h2>
                           <div class="box">
                               <h3>Campaign Basics</h3>
                               <img src="assets/img/small-image.png" alt="">
                               <fieldset>
                                   <select name="category" id="category" class="size-large">
                                       <option value="1">Trimedia</option>
                                       <option value="2">Trimedia 1</option>
                                       <option value="3">Trimedia 2</option>
                                       <option value="4">Trimedia 3</option>
                                       <option value="5">Trimedia 4</option>
                                   </select>
                               </fieldset>
                               <dl>
                                   <dt>Title</dt>
                                   <dd>Eliusmod Eleifend</dd>
                               </dl>
                               <dl>
                                   <dt>Short Description</dt>
                                   <dd>
                                       <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                   </dd>
                               </dl>
                               <dl>
                                   <dt>Campaign Link</dt>
                                   <dd>
                                       www.youtube.com<br>
                                       www.youtube.com<br>
                                       www.youtube.com<br>
                                       www.youtube.com<br>
                                   </dd>
                               </dl>
                               <dl>
                                   <dt>Country</dt>
                                   <dd>United States</dd>
                               </dl>
                               <dl>
                                   <dt>City</dt>
                                   <dd>New Yourk</dd>
                               </dl>
                               <hr>
                               <h3>Funding Goal</h3>
                               <dl>
                                   <dt>Campaign Link</dt>
                                   <dd>
                                       www.youtube.com<br>
                                       www.youtube.com<br>
                                       www.youtube.com<br>
                                       www.youtube.com<br>
                                   </dd>
                               </dl>
                               <dl>
                                   <dt>Country</dt>
                                   <dd>United States</dd>
                               </dl>
                               <dl>
                                   <dt>City</dt>
                                   <dd>New Yourk</dd>
                               </dl>
                               <hr>
                               <h3>Your Story</h3>
                               <dl>
                                   <dt>Title</dt>
                                   <dd>Eliusmod Eleifend</dd>
                               </dl>
                               <dl>
                                   <dt>Short Description</dt>
                                   <dd>
                                       <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                   </dd>
                               </dl>
                               <dl>
                                   <dt>Campaign Link</dt>
                                   <dd>
                                       www.youtube.com<br>
                                       www.youtube.com<br>
                                       www.youtube.com<br>
                                       www.youtube.com<br>
                                   </dd>
                               </dl>
                           </div>
                       </div><!-- #design-information -->


                       <!-- Box: #ignite-information -->
                       <div class="box-container static-text" id="ignite-information">
                           <br>
                           <h2>Ignite Information</h2>
                           <div class="box">
                               <div class="box-half">
                                   <h3>Outside Link</h3>
                                   <dl><dt>Facebook</dt><dd>www.facebook.com/profile</dd></dl>
                                   <dl><dt>Twitter</dt><dd>www.twitter.com/profile</dd></dl>
                                   <dl><dt>YouTube</dt><dd>www.youtube.com/profile</dd></dl>
                                   <dl><dt>IMDs</dt><dd>www.imds.com/profile</dd></dl>
                                   <dl><dt>Website</dt><dd>www.website.com/profile</dd></dl>
                               </div>
                               <div class="box-half">
                                   <h3>Media Addition</h3>
                                   <dl><dt>Video Link</dt><dd>www.facebook.com/profile</dd></dl>
                                   <dl><dt>Image</dt><dd>www.twitter.com/profile</dd></dl>
                                   <dl><dt>File</dt><dd>www.youtube.com/profile</dd></dl>
                               </div>
                           </div>
                       </div><!-- #ignite-information -->

                       <div class="box-container static-text">
                           <br>
                           <h2>Information on Coupons</h2>
                           <div class="box">
                               <h3>How it Works</h3>
                               <p>Fueno began with three brothers from a lower- middleclass family whose mother suddenly died at young age. This crisis put a huge mental, spiritual and financial strain on the family. Their father worked two jobs and the community banded together to give additional service and aid to the family. Through strong determination to better themselves and a burning desire to further their education, the brothers obtained student loans and worked part-time as they managed to scratch and scraped their way through college. Now, they want to give back to their communities they want to give back to the future.</p>
                           </div>
                       </div>

                       <div class="box-container static-text">
                           <br>
                           <h2>Information on Matching</h2>
                           <div class="box">
                               <h3>How it Works</h3>
                               <p>Fueno began with three brothers from a lower- middleclass family whose mother suddenly died at young age. This crisis put a huge mental, spiritual and financial strain on the family. Their father worked two jobs and the community banded together to give additional service and aid to the family. Through strong determination to better themselves and a burning desire to further their education, the brothers obtained student loans and worked part-time as they managed to scratch and scraped their way through college. Now, they want to give back to their communities they want to give back to the future.</p>
                           </div>
                       </div>

                       <div class="bottom-line-buttons">
                           <a href="#" class="btn-gray">View Campaign</a>
                       </div>

                   </div><!-- #get-funded -->

               </form>

           </div>
   	</div>
   </section><!-- #page -->

