<% content_for :body_id, "campaign-setup" %>

   <!-- Page -->
<section id="page">
  <div class="container">
    <div class="row">

      <div class="span12 box-container" id="text-content">
        <h1>Fueno Core Values</h1>

        <p>Our culture of trust and collaboration allows us to be masters of creative innovation.</p>

        <h2>At Fueno, we Believe in:</h2>

        <div class="box">
          <div class="col-left">
            <p><strong>Innovation.</strong> We are leaders of innovation who question and challenge the status quo. We
              detect new ways of doing things, connect people with radically different perspectives and are constantly
              experimenting new and sometimes disruptive ideas.</p>

            <p><strong>Passion. <em>Passion with focus drives talent and is the key source to creative innovation.</em></strong>
              We feel that the key to happiness and satisfaction in any business is found in that wonderful flow of
              energy that comes from being fully immersed and totally in-line with one’s unique and wonderful mission.
            </p>

            <p><strong>Trust.</strong> We believe that trust is the new social currency; it is the key factor in
              reducing costs, and increasing speed and revenue in any organization. We value relationships above all,
              making every effort to create deep and meaningful bonds in trusting relationships.</p>

            <p><strong>Communication.</strong> We over-communicate. Communication is the bond that ties us all together
              and gets us on the same page.</p>

            <p><strong>Teamwork.</strong> We are masters of <b><i>Collaboration</i></b> and <b><i>Communication</i></b>.
              We strive to create an environment where people feel safe and are able to interact without taking offense.
            </p>

            <p><strong>Honesty.</strong> Honesty and integrity are the key ingredients to building high-trust
              relationships. We will always <b><i>tell the truth</i></b>. We are honest with ourselves and with others.
              We confront the brutal facts and do autopsies without blame.</p>

            <p><strong>Empathy.</strong> We demonstrate concern and genuine care for others, and value every person and
              every role. We believe in maintaining an equal and high level of respect for all, especially those who are
              unable to generate anything of benefit to us. Show kindness in all your actions, no matter how big or
              small.</p>

            <p><strong>Transparency.</strong> We are open and authentic without guile. We fully disclose, and operate on
              the premise of, "What you see is what you get." Humility. We recognize and admit wrongs. Offer an honest
              and quick apology, making restitution when possible and show authentic personal humility. We do not take
              ourselves too seriously.</p>

          </div>
          <div class="col-right">

            <p><strong>Competent. <em>We are continuously improving and increasing our capabilities.</em></strong> We
              are proactive, progressive, and adaptive. Loyalty. We show respect and loyalty by speaking about people in
              the same manner whether or not they are present with us. We represent our team members and partners when
              they are not present to speak for themselves.</p>

            <p><strong>Discipline.</strong> We remain focused on the truly important matters at hand, following the
              <b>80/20</b> principle. Things that matter most must never be at the mercy of the things that matter
              least.</p>

            <p><strong>Accountability.</strong> Be proactive, progressive, adaptive, creative, and innovative with deep
              ingenuity. Take the initiative by finding solutions to problems, not waiting for a mandate for what is
              necessary. We hold ourselves and each other accountable. Take responsibility for the results you achieve.
              Don’t avoid responsibility or blame others when things go wrong. Take tough issues head on and address it
              directly. Acknowledge the unsaid. Be courageous in conversation clarifying, disclosing and revealing
              expectations in open discussion.</p>

            <p><strong>Commitment.</strong> We say what it is we are going to do and then do what we say we are going to
              do. We are on time to our meetings, make commitments carefully and keep them at all costs. Keeping
              commitments is the symbol of our honor.</p>

            <p><strong>Self-Reliant.</strong> We are prudent, living within our means by spending less than what we
              earn. We are debt-free, self-reliant, and self-sufficient.</p>

            <p><strong>Leadership.</strong> We are leaders extraordinaire. We aim to hire the most talented people and
              place them in the best positions for them to thrive in personal and company growth. We recognize greatness
              and show appreciation. We work hard and have fun.</p>

            <p><strong>Love.</strong> We believe that love is the greatest core value and power in any business. Love is
              the super set of all the things that make phenomenal organizations successful. Values like: trust,
              respect, humor, loyalty, caring, synergy, creativity, team work, honor, and innovation are aspects of
              love.</p>

          </div>
        </div>
      </div>

    </div>
  </div>
</section><!-- #page -->
