<% content_for :body_id, "campaign-setup" %>
<!-- Page -->
<section id="page">
  <div class="container">
    <div class="row">

      <div class="span12 box-container" id="text-content">
        <h1>Fueno University</h1>

        <div class="box">

          <p>Fueno is a Different breed of company blazing a trail in the explosive movement called group cause funding.
            Derived from two Latin words Bueno (Good) and Fuego (Fire), Fueno is igniting A Good FIRE of Giving in the
            hearts of people throughout the world.</p>

          <p>At Fueno, we believe that helping others is one of the fundamental elements of a happy and fulfilled in
            life. We are passionate in our mission to connect crowds of philanthropic individuals and socially conscious
            businesses to those people and organizations that have valiant needs and causes.</p>

          <p>Fueno began with three brothers from a lower- middleclass family whose mother suddenly died at young age.
            This crisis put a huge mental, spiritual and financial strain on the family. Their father worked two jobs
            and the community banded together to give additional service and aid to the family. Through strong
            determination to better themselves and a burning desire to further their education, the brothers obtained
            student loans and worked part-time as they managed to scratch and scraped their way through college. Now,
            they want to give back to their communities they want to give back to the future.</p>

          <p>Everyone at some point in time will have a worthy cause that they are passionate about or a vital need with
            which they require assistance. Fueno is leading the way in providing an innovative, easy, and seamless
            platform to raise funds for the following types of causes:</p>

          <ul>
            <li>Students, educational efforts and schools</li>
            <li>Sports teams and clubs</li>
            <li>Funerals, memorials and tributes</li>
            <li>Healing from illnesses of both body and soul</li>
            <li>Missions, faith and church</li>
            <li>Local service, volunteer work, or other local cause</li>
            <li>Charities or non-profits</li>
          </ul>

          <p>At Fueno we have a dream of raising the social consciousness of this planet by creating a global culture of
            social giving in this wonderful evolution of group cause funding.</p>

          <h3>Mission Statement:</h3>

          <p>Inspired by the good fire of giving, Fueno elevates humanity through an innovative social platform that
            connects groups of big-hearted people and socially-minded businesses with individuals and organizations that
            have valiant needs and causes. Join us in the explosive group cause funding movement that is engulfing the
            planet earth.</p>

          <h1>Fueno: <em>The Good Fire</em></h1>

        </div>
      </div>

    </div>
  </div>
</section><!-- #page -->
