<html>
<body>
<div class="container">
  <div class="row">

    <h2>Created as templates in the system</h2>
    <ul>
      <li>
        <a href="/">Homepage show</a>
      </li>
      <li>
        <a href="/projects/1">Campaign show</a>
      </li>
      <li>
        <a href="/cause_owners/1">Cause owner show</a>
      </li>
      <li>
        <a href="/profiles/1">Profile show</a>
      </li>
      <li>
        <a href="/donors">Donor show</a>
      </li>
      <li>
        <a href="/cause_owners/1/edit">Cause owner edit</a>
      </li>
      <li>
        <a href="/student_cofunders/1">Student cofunder show</a>
      </li>
      <li>
        <a href="/sponsors/1">Sponsor show</a>
      </li>
      <li>
        <a href="/core_values">Core values</a>
      </li>
      <li>
        <a href="/mission">Mission</a>
      </li>
      <li>
        <a href="/fueno_university">Fueno university</a>
      </li>
    </ul>
  </div>
</div>


</body>
</html>