<!-- Profiles Menu -->
<section id="profile-nav">
    <div id="profile-tabs">
        <div class="container">
            <ul>
                <li class="active"><a href="profile_tab_view.html">Profile</a></li>
                <li><a href="Donor_tab_view.html">Donor</a></li>
                <li><a href="cause-owner_view_tab.html">Cause Owner</a></li>
                <li><a href="student-Cofunder_tab_edit.html">Student Co-Founder</a></li>
                <li><a href="sponsor_tab_edit.html">Sponsor</a></li>
            </ul>
        </div>
    </div>
    <div id="profile-info">
        <div class="container">
            <%= image_tag('pictures/profile-photo.jpg')%>
            <dl>
                <dt>William Hauver</dt>
                <dd>
                    <div class="vote">
                        <strong>Validation Rating:</strong>
                        <div class="stars"></div>
                    </div>
                </dd>
            </dl>
            <a href="profile_tab_edit.html" class="btn-gray">Edit Information</a>
        </div>
    </div>
</section>


<!-- Page -->
<section id="page">
	<div class="container">
     <div class="row">

            <section id="content" class="span12">

                <section id="user-profile" class="profile-edit">
                    <div class="photo">
                        <%= image_tag('pictures/user.jpg', :class => 'thumbnail') %>
                    </div>
                    <div class="user-info">
                        <h1>Chris Hauver</h1>
                        <ul class="state">
                            <li>210 Noth 2010 East, Suite 101</li>
                            <li>Lehi, UT</li>
                            <li>84043</li>
                            <li>235-65-84</li>
                        </ul>
                        <ul class="bio">
                            <li>
                                <strong>Website:</strong>
                                <div><a href="#">www.campbellsoup.com</a></div>
                            </li>
                            <li>
                                <strong>Email:</strong>
                                <div>
                                    <a href="#">info@campbellsoup.com</a>
                                </div>
                            </li>
                            <li>
                                <strong>Facebook:</strong>
                                <div><a href="#">www.facebook.com/campbellsoup</a></div>
                            </li>
                            <li>
                                <strong>Twitter:</strong>
                                <div><a href="#">www.twitter.com/campbellsoup</a></div>
                            </li>
                        </ul>
                        <ul class="bio">
                            <li>
                                <strong>Gender:</strong>
                                <div>Male</div>
                            </li>
                            <li>
                                <strong>Date of Birth:</strong>
                                <div>1980</div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user-rate">
                        <strong>Social Cause Rating (SCR):</strong>
                        <div class="stars" data-score="3"></div>
                        <span>(Angel)</span>
                    </div>
                </section>
                <br>
                <section class="txt">
                    <h2>My Story</h2>
                    <h3>Blog with Media</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum tempus lorem, at aliquet tellus mattis non. Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et vehicula felis rhoncus at. Nullam sed tellus orci. Quisque consectetur euismod nisl sit amet fringilla. Aliquam commodo gravida consectetur. Sed adipiscing, justo a interdum posuere, sem lacus venenatis justo, quis sagittis ligula tellus sed nunc.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum tempus lorem, at aliquet tellus mattis non. Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et vehicula felis rhoncus at. Nullam sed tellus orci. Quisque consectetur euismod nisl sit amet fringilla. Aliquam commodo gravida consectetur. Sed adipiscing, justo a interdum posuere, sem lacus venenatis justo, quis sagittis ligula tellus sed nunc.</p>
                    <p>Nullam sed tellus orci. Quisque consectetur euismod nisl sit amet fringilla. Aliquam commodo gravida consectetur. Sed adipiscing, justo a interdum posuere, sem lacus venenatis justo, quis sagittis ligula tellus sed nunc.</p>
                    <h3>Community Involvement</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum tempus lorem, at aliquet tellus mattis non. Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et vehicula felis rhoncus at.</p>
                    <h3>Achivements</h3>
                    <p>Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et vehicula felis rhoncus at. Nullam sed tellus orci. Quisque consectetur euismod nisl sit amet fringilla. Aliquam commodo gravida consectetur. Sed adipiscing, justo a interdum posuere, sem lacus venenatis justo, quis sagittis ligula tellus sed nunc.</p>
                </section>

            </section>

        </div>
	</div>
</section><!-- #page -->

