<% content_for :body_id, "cofunder" %>

<div class="container"><h2 class="sub-title">CAMPAIGN ID: <span>08770778786</span></h2></div>

<!-- Page Profile -->
<section id="page-profile">
    <div class="container">
        <div class="row">
            <div class="span9" id="item-details">
                <img src="assets/img/pictures/thumbnail.jpg" class="thumbnail" alt="Fueno">
                <h1><a href="#">The High Bar: On the Rocks & Straight up</a></h1>
                <p>The High Bar (http://thehighbar.tv) is on the rocks. After 3 seasons, 70+ episodes & no funding whatsoever, we need YOU to ensure we shoot Season 4.</p>
            </div>
            <div class="span3">
                <ul class="account-details">
                    <li><strong>Student Co-Founder:</strong></li>
                    <li class="list-heading">
                        <img src="assets/img/pictures/college.jpg" alt="">
                        <img src="assets/img/pictures/a-small.jpg" alt="">
                        <strong>Warren Etheredge</strong><br>
                        <em>Ramapo College</em>
                    </li>
                    <li><strong>Location:</strong> Seattle, Washington, United States</li>
                    <li><strong>Major:</strong> Computer Science</li>
                    <li><strong>Recommended:</strong> Warren Buffet</li>
                    <li><a href="#">See More &raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- #page-profile -->

<div id="form-steps" class="standalone">
    <div class="container">
        <ul>
            <li class="d1"><a href="/sponsors/1/matchings/1/start"><span>1</span>Start</a></li>
            <li class="d2"><a href="/sponsors/1/matchings/1/choose"><span>2</span>Matching Choice</a></li>
            <li class="d3 active"><a href="/sponsors/1/matchings/1/pay"><span>3</span>Pay</a></li>
            <li class="d4"><a href="/sponsors/1/matchings/1/share"><span>4</span>Share</a></li>
        </ul>
    </div>
</div>


<!-- Page -->
<section id="page">
	<div class="container">

        <div class="box-container profile-edit matching-summary">
            <div class="box">
                <h3 class="section-title">Your Matching Summary</h3>
                <div>
                    <div class="box-half">
                        <p>Cause fundng total: <strong>$500</strong></p>
                        <p>Hubmer of donors to meet goal: <strong>90</strong></p>
                        <p>Cause dead line: <strong>3/14/2013</strong></p>
                        <p>Days left on cause funding: <strong>40 days from launch</strong></p>
                    </div>
                    <div class="box-half">
                        <p>
                            Matching dollar amount<br>
                            <strong>500 Dollar if cause meets goal of 90 backers</strong>
                        </p>
                        <a href="/sponsors/1/matchings/1/choose" class="btn-gold">&laquo; Matching Choice</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="sub-title">How would you like to pay?</h2>

        <div class="box-container profile-edit matching-summary">
            <div class="box">
                <h3 class="section-title">Pay with PayPal</h3>
                <a href="#"><img src="assets/img/donate.gif" alt="" class="pull-right"></a>
                <p>After clicking this button, you'll be redirected to PayPal's site where you can pay with your PayPal account or credit card</p>
            </div>
        </div>

        <div class="box-container profile-edit matching-summary card-data">
            <div class="box">
                <h3 class="section-title">Pay with a Credit Card</h3>
                <div>
                    <div class="box-half">
                        <fieldset>
                            <label for="title">First Name</label>
                            <input type="text" name="title" id="title" class="size-large">
                        </fieldset>
                        <fieldset>
                            <label for="title">Card Number</label>
                            <input type="text" name="title" id="title" class="size-large">
                        </fieldset>
                        <fieldset>
                            <label for="title">Expiration Date</label>
                            <select name="exp-m" id="exp-m" class="month">
                                <option value="1">MM</option>
                            </select>
                            <select name="exp-m" id="exp-m" class="year">
                                <option value="1">YYYY</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <label for="title">Country</label>
                            <select name="country" id="country" class="size-large">
                                <option value="1">USA</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="box-half">
                        <fieldset>
                            <label for="title">Last Name</label>
                            <input type="text" name="title" id="title" class="size-large">
                        </fieldset>
                        <fieldset>
                            <label for="title">Security Code</label>
                            <input type="text" name="title" id="title" class="size-small">
                        </fieldset>
                    </div>
                </div>
                <div class="clearfix"></div>
                <fieldset>
                    <label for="title">Street Address</label>
                    <input type="text" name="title" id="title" class="size-very-large">
                </fieldset>
                <div class="clearfix"></div>
                <div>
                    <div class="box-half">
                        <fieldset>
                            <label for="title">City</label>
                            <input type="text" name="title" id="title" class="size-large">
                        </fieldset>
                    </div>
                    <div class="box-half">
                        <fieldset>
                            <label for="title">Postal Code</label>
                            <input type="text" name="title" id="title" class="size-large">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-line-buttons">
            <a href="/sponsors/1/matchings/1/share" class="btn-large pull-right">Continue</a>
        </div>

	</div>
</section><!-- #page -->

