<section class="view-items">
  <div class="title">
    <h2>Featured Campaign</h2>
  </div>
  <article class="item-f">
    <div class="side-image"><img src="/assets/pictures/featured.jpg" alt=""></div>
    <div class="side-info">
      <div class="details">
        <img src="/assets/pictures/featured-thumb.jpg" class="thumbnail pull-left" alt="">

        <h2><a href="#">The Battle We Didn't Choose</a></h2>
        <ul>
          <li><strong>Passion:</strong> To show that every moment is precious</li>
          <li><strong>Location:</strong> New York, New York, United States</li>
          <li><strong>Category:</strong> Photography</li>
        </ul>
      </div>
      <div class="item-meta">
        <div class="progress">
          <div class="bar" style="width: 80%"></div>
        </div>
        <strong>Fully Funded: $22,718</strong>
      </div>
      <div class="description">
        <p>My Indiegogo campaign was the spark that I needed to take my documentary to the next level. Throughout my
          campaign the staff at Indiegogo was supportive and communicative and their belief in my project has made me a
          dedicated supporter of Indiegogo.</p>
      </div>
    </div>
  </article>
</section>