<% content_for :body_id, "campaign-setup" %>

<!-- Page -->
<section id="page">
   	<div class="container">
        <div class="row">

               <form action="#">

                   <div class="span12"><h2 id="campaign-id">Campaign ID: <span>08770778786</span></h2></div>

                   <div class="span12" id="form-steps">
                       <div class="box">
                           <h1>Untitled Draft Project</h1>
                           <ul>
                               <li class="s1"><a href="/campaigners/1/campaigns/1/start"><span>1</span>Start</a></li>
                               <li class="s2"><a href="/campaigners/1/campaigns/1/design"><span>2</span>Design</a></li>
                               <li class="s3"><a href="/campaigners/1/campaigns/1/ignite"><span>3</span>Ignite</a></li>
                               <li class="s4 active"><a href="/campaigners/1/campaigns/1/sponsor"><span>4</span>Get Sponsored</a></li>
                               <li class="s5"><a href="/campaigners/1/campaigns/1/fund"><span>5</span>Get Funded</a></li>
	                    </ul>
	                    <h3>Sponsors</h3>
	                    <p>Congratulations! You’re now ready for the next step: letting people know why they should fund your campaign.</p>
                        <p>Right Now, no one else can see your campaign. You can edit anything you want. When you are satisfied and ready to get funded, click the "Go Live" button on the last page to make your campaign visible.</p>
                    </div>
                </div>

                   <div class="span12 bottom-line-buttons">
                       <a href="#" class="btn-gray">What is matching?</a>
                       <a href="#" class="btn-gray">What are counpons?</a>
                   </div>

                <div class="span12 box-container" id="form-value-range">
                    <h2>Coupons</h2>
                    <p>Sed facilisis porta nibh, at malesuada est ultricies quis. Morbi purus lacus, dictum sit amet pretium vitae.</p>
                    <div class="box">
                           <h3 class="section-title">
                               <strong>Level 1 Coupons</strong>
                               Coupon Value range over $5
                           </h3>
                           <fieldset class="custom-checkbox">
                               <input type="checkbox" name="modify-1" id="modify-1">
                               <label for="modify-1">Modify Coupon value range?</label>
                           </fieldset>
                           <h3 class="section-title">
                               <strong>Level 2 Coupons</strong>
                               Coupon Value range over $20
                           </h3>
                           <fieldset class="custom-checkbox">
                               <input type="checkbox" name="modify-2" id="modify-2">
                               <label for="modify-2">Modify Coupon value range?</label>
                           </fieldset>
                           <h3 class="section-title">
                               <strong>Level 3 Coupons</strong>
                               Coupon Value range over $50
                           </h3>
                           <fieldset class="custom-checkbox">
                               <input type="checkbox" name="modify-3" id="modify-3">
                               <label for="modify-3">Modify Coupon value range?</label>
                           </fieldset>
                           <h3 class="section-title">
                               <strong>Level 4 Coupons</strong>
                               Coupon Value range over $150
                           </h3>
                           <fieldset class="custom-checkbox">
                               <input type="checkbox" name="modify-4" id="modify-4">
                               <label for="modify-4">Modify Coupon value range?</label>
                           </fieldset>
                           <h3 class="section-title">
                               <strong>Level 5 Coupons</strong>
                               Coupon Value range over $300
                           </h3>
                           <fieldset class="custom-checkbox">
                               <input type="checkbox" name="modify-5" id="modify-5">
                               <label for="modify-5">Modify Coupon value range?</label>
                           </fieldset>
                       </div>
                </div>

                   <div class="span12 box-container static-text">
                       <br>
                       <h2>Information on Coupons</h2>
                       <div class="box">
                           <h3>How it Works</h3>
                           <div class="block-quote">
                               <img src="assets/img/pictures/video.jpg">
                               <p><em>We are passionate in our mission to connect crowds of philanthropic individuals and socially conscious businesses to those people and organizations that have valiant needs and causes.</em></p>
                           </div>
                           <p>Their father worked two jobs and the community banded together to give additional service and aid to the family. Through strong determination to better themselves and a burning desire to further their education, the brothers obtained student loans and worked part-time as they managed to scratch and scraped their way through college. Now, they want to give back to their communities they want to give back to the future. At Fueno, we believe that helping others is one of the fundamental elements of a happy and fulfilled in life. We are passionate in our mission to connect crowds of philanthropic individuals and socially conscious businesses to those people and organizations that have valiant needs and causes.</p>
                           <p>Fueno began with three brothers from a lower- middleclass family whose mother suddenly died at young age. This crisis put a huge mental, spiritual and financial strain on the family. Their father worked two jobs and the community banded together to give additional service and aid to the family. Through strong determination to better themselves and a burning desire to further their education, the brothers obtained student loans and worked part-time as they managed to scratch and scraped their way through college. Now, they want to give back to their communities they want to give back to the future.</p>
                       </div>
                   </div>

                   <div class="span12 box-container static-text">
                       <br>
                       <h2>Information on Coupons</h2>
                       <div class="box">
                           <h3>How it Works</h3>
                           <div class="block-quote">
                               <img src="assets/img/pictures/video.jpg">
                               <p><em>We are passionate in our mission to connect crowds of philanthropic individuals and socially conscious businesses to those people and organizations that have valiant needs and causes.</em></p>
                           </div>
                           <p>Their father worked two jobs and the community banded together to give additional service and aid to the family. Through strong determination to better themselves and a burning desire to further their education, the brothers obtained student loans and worked part-time as they managed to scratch and scraped their way through college. Now, they want to give back to their communities they want to give back to the future. At Fueno, we believe that helping others is one of the fundamental elements of a happy and fulfilled in life. We are passionate in our mission to connect crowds of philanthropic individuals and socially conscious businesses to those people and organizations that have valiant needs and causes.</p>
                           <p>Fueno began with three brothers from a lower- middleclass family whose mother suddenly died at young age. This crisis put a huge mental, spiritual and financial strain on the family. Their father worked two jobs and the community banded together to give additional service and aid to the family. Through strong determination to better themselves and a burning desire to further their education, the brothers obtained student loans and worked part-time as they managed to scratch and scraped their way through college. Now, they want to give back to their communities they want to give back to the future.</p>
                       </div>
                   </div>

                   <div class="span12 bottom-line-buttons">
                       <a href="get_finded.html" class="btn-fancy"><span>5</span>Get Funded</a>
                       <a href="#" class="btn-gold">Save Campaign</a>
                       <a href="#" class="btn-gray">View Campaign</a>
                   </div>

               </form>

           </div>
   	</div>
   </section><!-- #page -->
