<% content_for :body_id, "campaign-setup" %>
<!-- Page -->
<section id="page">
   	<div class="container">
        <div class="row">

               <form action="#">

                   <div class="span12"><h2 id="campaign-id">Campaign ID: <span>08770778786</span></h2></div>

                <div class="span12" id="form-steps">
                	<div class="box">
	                	<h1>Untitled Draft Project</h1>
	                    <ul>
                               <li class="s1"><a href="start.html"><span>1</span>Start</a></li>
                               <li class="s2"><a href="design.html"><span>2</span>Design</a></li>
                               <li class="s3 active"><a href="ignite.html"><span>3</span>Ignite</a></li>
                               <li class="s4"><a href="get_sponsored.html"><span>4</span>Get Sponsored</a></li>
                               <li class="s5"><a href="get-funded.html"><span>5</span>Get Funded</a></li>
	                    </ul>
	                    <h3>Enhance Your Campaign (Optional)</h3>
	                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacus sem, fermentum non rutrum in, euismod ac nibh. Phasellus felis enim, laoreet at vestibulum a, rhoncus nec sem.</p>
                    </div>
                </div>

                <div class="span12 box-container" id="form-links">
                    <h2>Outside Link</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacus sem, fermentum on rutrum in, euismod ac nibh. Phasellus felis enim, laoreet at vestibulum a, rhoncus nec sem. Nulla tellus sapien, aliquam ut tristique lobortis.</p>
                    <div class="box">
                        <fieldset>
                            <label for="name">Facebook</label>
                            <input type="text" name="facebook" name="facebook" class="size-large">
                        </fieldset>
                        <fieldset>
                            <label for="name">Twitter</label>
                            <input type="text" name="twitter" name="twitter" class="size-large">
                        </fieldset>
                        <fieldset>
                            <label for="name">YouTube</label>
                            <input type="text" name="youtube" name="youtube" class="size-large">
                        </fieldset>
                        <fieldset>
                            <label for="name">Website</label>
                            <input type="text" name="website" name="website" class="size-large">
                        </fieldset>
                           <a href="#" class="btn-gray add-btn">Add Custom Link</a>
                    </div>
                       <a href="#" class="btn-red">Save</a>
                </div>

                   <div class="clearfix"></div>

                <div class="span12 box-container" id="form-media">
                    <h2>Media Gallery</h2>
                    <p>Add the othe rpeople you are working with here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacus sem, fermentum non rutrum in, euismod ac nibh. laoreet at vestibulum a, rhoncus nec sem.</p>
                    <div class="box">
                        <div class="box-inner">
                            <h4>New Video</h4>
                            <fieldset>
                                <label for="video-link">Video Link <span>*</span></label>
                                <input type="text" name="video-link" id="video-link">
                                <a href="#" class="btn-red">Save</a>
                            </fieldset>
                            <h4>New Image</h4>
                            <fieldset>
                                <label for="image">File <span>*</span></label>
                                <input type="file" name="image" id="image" />
                                <input type="submit" class="customfile-button" value="Upload an Image" />
                            </fieldset>
                            <h4>New Image</h4>
                            <fieldset>
                                <label for="file">File <span>*</span></label>
                                <input type="file" name="file" id="file" />
                                <input type="submit" class="customfile-button" value="Upload a File" />
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="span12 bottom-line-buttons">
                	<a href="get_sponsored.html" class="btn-fancy"><span>4</span>Get Sponsored</a>
                       <a href="#" class="btn-gold">Save Campaign</a>
                       <a href="#" class="btn-gray">View Campaign</a>
                </div>

               </form>

           </div>
   	</div>
   </section><!-- #page -->


