<% content_for :body_id, "cofunder" %>

<div class="container"><h2 class="sub-title">CAMPAIGN ID: <span>08770778786</span></h2></div>

<!-- Page Profile -->
<section id="page-profile">
    <div class="container">
        <div class="row">
            <div class="span9" id="item-details">
                <%= image_tag "pictures/thumbnail.jpg", :class => "thumbnail", :alt => "Fueno" %>
                <h1><a href="#">The High Bar: On the Rocks & Straight up</a></h1>
                <p>The High Bar (http://thehighbar.tv) is on the rocks. After 3 seasons, 70+ episodes & no funding whatsoever, we need YOU to ensure we shoot Season 4.</p>
            </div>
            <div class="span3">
                <ul class="account-details">
                    <li><strong>Student Co-Founder:</strong></li>
                    <li class="list-heading">
                        <%= image_tag "pictures/college.jpg" %>
                        <%= image_tag "pictures/a-small.jpg" %>
                        <strong>Warren Etheredge</strong><br>
                        <em>Ramapo College</em>
                    </li>
                    <li><strong>Location:</strong> Seattle, Washington, United States</li>
                    <li><strong>Major:</strong> Computer Science</li>
                    <li><strong>Recommended:</strong> Warren Buffet</li>
                    <li><a href="#">See More &raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- #page-profile -->

<div id="form-steps" class="standalone three-items">
    <div class="container">
        <ul>
            <li class="c1 active"><a href="coupon_start.html"><span>1</span>Start</a></li>
            <li class="c2"><a href="coupon_set_up.html"><span>2</span>Coupon Set Up</a></li>
            <li class="c3"><a href="coupon_share.html"><span>3</span>Share</a></li>
        </ul>
    </div>
</div>

<!-- Page -->
<section id="page">
	<div class="container">
     <div class="row">
     	<section id="content" class="span12">
            
                <h2 class="sub-title">Sponsor Information</h2>

	<section id="sponsor-profile">
             	<div class="photo" data-edit="edit">
                 	<%= image_tag "pictures/campbells-sponsor.jpg" %>
                 </div>
                    <div class="sponsor-info profile-edit">
                        <h1 data-edit="edit">Campbelle's</h1>
                        <h2 data-edit="edit">Campbell Soup Company is a global manufacturer and marketer of high-quality foods and simple meals, including soups and sauces, baked snacks, and healthy beverages.</h2>
                        <address data-edit="edit">210 North 1200 East, Suite 101, Lehi, UT 84043</address>
                        <ul class="bio">
                        	<li data-edit="edit">
                            	<strong>Website:</strong> www.campbellsoup.com
                            </li>
                        	<li data-edit="edit">
                            	<strong>Email:</strong> Info@campbellsoup.com
                            </li>
                        	<li data-edit="edit">
                            	<strong>Facebook:</strong> www.facebook.com/campbellesoup
                            </li>
                        	<li data-edit="edit">
                              	<strong>Twitter:</strong> www.twitter.com/campbellesoup
                            </li>
                        </ul>
                        <ul class="bio">
                            <li data-edit="edit">
                                <strong>Phone:</strong> 235-362-658
                            </li>
                            <li data-edit="edit">
                                <strong>Tax ID:</strong> 2645452413
                            </li>
                            <li data-edit="edit">
                                <strong>Business License:</strong> #5635
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                 <div class="user-rate">
                 	<strong>Corporate Cause Rating:</strong>
                     <div class="stars" data-score="3"></div>
                 </div>
             </section>
                
                <section class="txt">
                	<h2 data-edit="edit">Company Story</h2>
                    <h3 data-edit="edit">Mission</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum tempus lorem, at aliquet tellus mattis non. Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et vehicula felis rhoncus at. Nullam sed tellus orci. Quisque consectetur euismod nisl sit amet fringilla. Aliquam commodo gravida consectetur. Sed adipiscing, justo a interdum posuere, sem lacus venenatis justo, quis sagittis ligula tellus sed nunc.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum tempus lorem, at aliquet tellus mattis non. Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et vehicula felis rhoncus at. Nullam sed tellus orci. Quisque consectetur euismod nisl sit amet fringilla. Aliquam commodo gravida consectetur. Sed adipiscing, justo a interdum posuere, sem lacus venenatis justo, quis sagittis ligula tellus sed nunc.</p>
                    <h3 data-edit="edit">Community Involvement</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum tempus lorem, at aliquet tellus mattis non. Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et vehicula felis rhoncus at.</p>
                    <h3 data-edit="edit">Community Impact</h3>
                    <p>Cras justo dolor, feugiat eu porta porta, hendrerit at nulla. Fusce dignissim suscipit purus, et vehicula felis rhoncus at. Nullam sed tellus orci. Quisque consectetur euismod nisl sit amet fringilla. Aliquam commodo gravida consectetur. Sed adipiscing, justo a interdum posuere, sem lacus venenatis justo, quis sagittis ligula tellus sed nunc.</p>
                </section>
                
         </section>

            <div class="span12 bottom-line-buttons">
                <a href="coupon_set_up.html" class="btn-fancy"><span>2</span>Coupon Set Up</a>
                <a href="#" class="btn-gold">Save</a>
            </div>
        
        </div>
	</div>
</section><!-- #page -->
