<% content_for :body_id, "cofunder" %>

<div class="container"><h2 class="sub-title">CAMPAIGN ID: <span>08770778786</span></h2></div>

<!-- Page Profile -->
<section id="page-profile">
    <div class="container">
        <div class="row">
            <div class="span9" id="item-details">
                <img src="assets/img/pictures/thumbnail.jpg" class="thumbnail" alt="Fueno">
                <h1><a href="#">The High Bar: On the Rocks & Straight up</a></h1>
                <p>The High Bar (http://thehighbar.tv) is on the rocks. After 3 seasons, 70+ episodes & no funding whatsoever, we need YOU to ensure we shoot Season 4.</p>
            </div>
            <div class="span3">
                <ul class="account-details">
                    <li><strong>Student Co-Founder:</strong></li>
                    <li class="list-heading">
                        <img src="assets/img/pictures/college.jpg" alt="">
                        <img src="assets/img/pictures/a-small.jpg" alt="">
                        <strong>Warren Etheredge</strong><br>
                        <em>Ramapo College</em>
                    </li>
                    <li><strong>Location:</strong> Seattle, Washington, United States</li>
                    <li><strong>Major:</strong> Computer Science</li>
                    <li><strong>Recommended:</strong> Warren Buffet</li>
                    <li><a href="#">See More &raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- #page-profile -->

<div id="form-steps" class="standalone">
    <div class="container">
        <ul>
            <li class="d1"><a href="matching_start.html"><span>1</span>Start</a></li>
            <li class="d2"><a href="matching_choice.html"><span>2</span>Matching Choice</a></li>
            <li class="d3"><a href="matching_pay.html"><span>3</span>Pay</a></li>
            <li class="d4 active"><a href="matching_share.html"><span>4</span>Share</a></li>
        </ul>
    </div>
</div>

<!-- Page -->
<section id="page">
	<div class="container">
     <div class="row">
     	<section id="content" class="span12">

                <div id="share-buttons">
                    <div class="page-header">
                        <h1>Spread the word! <small>Help your team build momentum by telling your people about this cause</small></h1>
                    </div>
                    <div class="share-holder">
                        <a href="#" class="facebook-share">Share on Facebook</a>
                        <a href="#" class="twitter-share">Tweet to your followers</a>
                        <a href="#" class="google-share">Post to Google+</a>
                        <a href="#" class="copy-share">Copy the campaign link</a>
                        <div class="input-holder"><div><input type="text" value="http://igg.me/p/310503/x/1978432"></div></div>
                        <a href="#" class="email-share">Email your contacts</a>
                    </div>
                </div>

                <div id="sponsor-message">
                    <h2>Message from Sponsor</h2>
                    <img src="assets/img/pictures/campbells-sponsor.jpg" alt="">
                    <div class="message-box">
                        <h3>Send a message to high bar cause</h3>
                        <form action="#">
                            <img src="assets/img/pictures/profile-photo.jpg" alt="" class="user-pic">
                            <div>
                                <textarea name="goal" id="goal" cols="30" rows="10">Lets meet our goal 500 Dollars if cause meets goal of 90 backers</textarea>
                                <input type="submit" class="btn" value="Add a Comment">
                                <fieldset>
                                    <input type="checkbox"> <label>keep private</label>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>

                <h2 class="sub-title">Recommend Causes</h2>

                <ul class="thumbnails causes-list">
                    <li class="span3">
                        <div class="thumbnail">
                            <img src="assets/img/pictures/item-1.jpg" alt="">
                            <div class="category">Health</div>
                            <div class="caption">
                                <h3><a href="#">Help an Artist Keep His Eyesight</a></h3>
                                <p>by <a href="#">Andrew Tarrant</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="thumbnail">
                            <img src="assets/img/pictures/item-2.jpg" alt="">
                            <div class="category">Health</div>
                            <div class="caption">
                                <h3><a href="#">Josle Normand's Lung Transplant</a></h3>
                                <p>by <a href="#">Eleanot Davis</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="thumbnail">
                            <img src="assets/img/pictures/item-3.jpg" alt="">
                            <div class="category">Health</div>
                            <div class="caption">
                                <h3><a href="#">Help the Families of Michael D. Tysver</a></h3>
                                <p>by <a href="#">Andrew Tarrant</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="thumbnail">
                            <img src="assets/img/pictures/item-4.jpg" alt="">
                            <div class="category">Health</div>
                            <div class="caption">
                                <h3><a href="#">Core for Coleen!</a></h3>
                                <p>by <a href="#">Andrew Tarrant</a></p>
                            </div>
                        </div>
                    </li>
                </ul>

            </section>
        </div>
	</div>
</section><!-- #page -->
