<% content_for :body_id, "campaign-setup" %>

<!-- Page -->
<section id="page">
  <div class="container">
    <div class="row">
      <form action="#">
        <div class="span12"><h2 id="campaign-id">Campaign ID: <span>08770778786</span></h2></div>
        <div class="span12" id="form-steps">
          <div class="box">
            <h1>Untitled Draft Project</h1>
            <ul>
              <li class="s1 active"><a href="/campaigners/1/campaigns/1/start"><span>1</span>Start</a></li>
              <li class="s2"><a href="/campaigners/1/campaigns/1/design"><span>2</span>Design</a></li>
              <li class="s3"><a href="/campaigners/1/campaigns/1/ignite"><span>3</span>Ignite</a></li>
              <li class="s4"><a href="/campaigners/1/campaigns/1/sponsor"><span>4</span>Get Sponsored</a></li>
              <li class="s5"><a href="/campaigners/1/campaigns/1/fund"><span>5</span>Get Funded</a></li>
            </ul>
            <h3>Start Raising Funds on Fuego</h3>

            <p>Start your campaign and join tens of thousands of people raising funds on Fuego. People just like
              you.</p>
          </div>
        </div>
      </form>
      <!-- Box -->
      <div class="box-container profile-edit span12" id="cause-owner">
        <div class="box">
          <%= simple_form_for(@campaign_worksheet, :html => {:class => 'form-horizontal'}) do |f| %>
              <%= f.input :cause_id, :collection => Cause.order(:name), :hint => 'Select the cause your campaign will benefit' %>
              <%= f.input :category_id, :collection => Category.order(:name_en), :hint => 'Which Category best describes your campaign?' %>

              <div class="form-actions">
                <%= f.button :submit, :class => 'btn btn-primary' %>
              </div>
          <% end %>
        </div>

        <div class="span12 bottom-line-buttons">
          <a href="/campaigners/1/campaigns/1/design" class="btn-fancy"><span>1</span>Design Campaign</a>
        </div>
      </div>
    </div>
  </div>
</section><!-- #page -->
